<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="Pronto BikeShare Challenge">
<meta name="author" content="Will Leahy">

<link href='https://fonts.googleapis.com/css?family=Work+Sans:200,700,400' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="shortcut icon" href="">

</head>
<body ng-app="App" ng-controller="Main as main">

	<!-- <h2>{{main.time.toDateString()}}</h2>
	<h3>{{main.time.getHours()}}:{{main.time.getMinutes()}}</h3> -->

	<div class="canvas-wrapper" ng-style="{backgroundColor:main.waterColor}">
	<!-- <div class="canvas-wrapper"> -->

		<div class="fill-rect">

			<canvas class="canvas" id="mapCanvas"></canvas>
			<canvas class="canvas" id="bikeCanvas"></canvas>
			<canvas class="canvas" id="stationCanvas"></canvas>

		</div>

		<div class="canvas-cover">
			<h3>{{main.formatTime(main.currentTime)}}</h3>
			<h4>{{main.hoveredStation().name}}</h4>
			<ul class="station-list" ng-hide="!main.hoveredStation()">
				<li>Docks <b>{{main.hoveredStation().dockcount}}</b></li>
				<li>Departures <b>{{main.hoveredStation().departures}}</b></li>
				<li>Arrivals <b>{{main.hoveredStation().arrivals}}</b></li>
			</ul>
		</div>

	</div>

	<div class="sidebar">
		{{main.currentTime / 60}}
		<br>

		{{main.query}}

		<br>

		<select 
			ng-model="main.query.subset"
			ng-options="option.val as option.name for option in main.subsetOptions">
		</select>

		<select 
			ng-model="main.query.month"
			ng-options="option.val as option.name for option in main.monthOptions">
		</select>

		<button ng-click="main.animateQuery()">GO</button>
		<button ng-click="main.stop()">STOP</button>

		<br>

		<button ng-click="main.animateTimespan()">GO</button>
		<button ng-click="main.stop()">STOP</button>

		<br>

		<label>
			<input type="radio" ng-model="main.userType" value="AO">
			All Users
		</label>
	    <label>
			<input type="radio" ng-model="main.userType" value="A">
			Annual
		</label>
		<label>
			<input type="radio" ng-model="main.userType" value="O">
			Short Term
		</label>

		<label>
			<input type="radio" ng-model="main.userAge" value="all">
			All Ages
		</label>
	    <label>
			<input type="radio" ng-model="main.userAge" value="old">
			Under 35
		</label>
		<label>
			<input type="radio" ng-model="main.userAge" value="young">
			Over 35
		</label>



	</div>


	<script src="scripts/app.js"></script>
	<script src="scripts/mapFCT.js"></script>
	<script src="scripts/dataFCT.js"></script>
	<script src="scripts/mainCTRL.js"></script>
	

</body>
</html>
