<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="Pronto BikeShare Challenge">
<meta name="author" content="Will Leahy">

<link href='https://fonts.googleapis.com/css?family=Work+Sans:200,600,400' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="shortcut icon" href="">

</head>
<body ng-app="App" ng-controller="Main as main">

	<!-- <h2>{{main.time.toDateString()}}</h2>
	<h3>{{main.time.getHours()}}:{{main.time.getMinutes()}}</h3> -->

	<div class="canvas-wrapper night">
	<!-- <div class="canvas-wrapper"> -->

		<div class="fill-rect">

			<canvas class="canvas" id="mapCanvas"></canvas>
			<canvas class="canvas" id="bikeCanvas"></canvas>
			<canvas class="canvas" id="stationCanvas"></canvas>

		</div>

		<div class="canvas-cover">

			<!-- <h3 class="time">{{main.formatTime(main.currentTime)}}</h3> -->

	<!-- 		<div class="cover-block wd-3" ng-hide="!main.hoveredStation()">
				<timeseries ng-transclude></timeseries>
			</div> -->

			<div class="cover-block wd-3" ng-hide="!main.hoveredStation()">
				<h4>{{main.hoveredStation().name}}</h4>
				<ul class="station-list" >
				<li>Departures <b>{{main.hoveredStation().departures.length}}</b></li>
				<li>Arrivals <b>{{main.hoveredStation().arrivals.length}}</b></li>
				<li>Docks <b>{{main.hoveredStation().dockcount}}</b></li>
			</ul>
			</div>

			<canvas class="canvas" id="timeseriesCanvas"></canvas>

		</div>
			
			
		</div>

	</div>

	<div class="sidebar">


<!-- 		<button ng-click="main.minpersec=5">></button>
		<button ng-click="main.minpersec=15">>></button>
		<button ng-click="main.minpersec=30">>>></button>
 -->

		<button ng-click="main.start()">
			start
			<!-- <svg><polygon points="5.4000 , 2.9752 14.2868 , 8.9254  5.4000 ,14.8754"/></svg> -->
		</button>
		<button ng-click="main.pause()">
			stop
			<!-- <svg>
				<rect x="3" y="4" width="4" height="12"/>
				<rect x="10" y="4" width="4" height="12"/>
			</svg> -->
		</button>

		<h2>Query</h3>

		<select 
			ng-model="main.query.subset"
			ng-options="option.val as option.name for option in main.subsetOptions">
		</select>

		<select 
			ng-model="main.query.month"
			ng-options="option.val as option.name for option in main.monthOptions">
		</select>

		<h2>Playback Speed</h2>

		<label>
			<input type="radio" ng-model="main.minpersec" value="10">
			<span class="filter-label">></span>
		</label>
	    <label>
			<input type="radio" ng-model="main.minpersec" value="20">
			<span class="filter-label">>></span>
		</label>
		<label>
			<input type="radio" ng-model="main.minpersec" value="45">
			<span class="filter-label">>>></span>
		</label>


		<h2>Filters</h2>

		<div class="filter-group">

			<label>
				<input type="radio" ng-model="main.userType" value="AO">
				<span class="filter-label">All Users</span>
			</label>
		    <label>
				<input type="radio" ng-model="main.userType" value="A">
				<span class="filter-label">Annual</span>
			</label>
			<label>
				<input type="radio" ng-model="main.userType" value="O">
				<span class="filter-label">Short Term</span>
			</label>

		</div>

		<div class="filter-group">

			<label>
				<input type="radio" ng-model="main.userAge" value="all">
				<span class="filter-label">All Ages</span>
			</label>
		    <label>
				<input type="radio" ng-model="main.userAge" value="old">
				<span class="filter-label">Under 35</span>
			</label>
			<label>
				<input type="radio" ng-model="main.userAge" value="young">
				<span class="filter-label">Over 35</span>
			</label>

		</div>


	</div>


	<script src="scripts/app.js"></script>
	<script src="scripts/mapFCT.js"></script>
	<script src="scripts/dataFCT.js"></script>
	<script src="scripts/timeseries.js"></script>
	<script src="scripts/mainCTRL.js"></script>

	

</body>
</html>
